<!DOCTYPE html>
<html lang="ru">

<html>
<head>
    <title>Step Counter</title>
    <script type="text/javascript" src="/static/update.js"></script>
    <link href="/static/store.css" rel="stylesheet">
</head>

<body>
    <h1>Счетчик шагов</h1>
    <h3>Добавить шаги:</h3>
    <form>
        <div>
            <input type="number" name="steps" id="steps" min="0">
            <label for="steps">Число шагов</label>
        </div>
        <div>
            <input type="date" name="date" id="date">
            <label for="date">Дата</label>
        </div>
        <button type="button" onClick="addEntry()">Отправить</button>
    </form>
    <ul>
        {% for entry in entries %}
        <li>
            <div>
                <div><strong>Date:</strong> {{ entry.date }}</div>
                <div><strong>Steps:</strong> {{ entry.steps }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
    <div class="total">Всего шагов: {{ total_steps }}</div>
    <button onClick="clearEntries()">Очистить</button>
</body>
</html>
